.skills {
    background: linear-gradient(rgba(66, 0, 255, 0.63), rgba(179, 152, 255, 1));
    font-family: Righteous;
}

.skillsText {
    font-size: 3rem;
}

.skillCharts {
    padding: 5px;
}

.skillsHeader {
    margin-left: 10px;
    font-size: 1.5rem;
}

.SkillsDepthContainer {
    align-items: start;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 10px;
}

.skillTitle {
    font-size: 2.3rem;
}

.skillDescription {
    font-size: 1.3rem;
}

.skillContainer {
    margin: 20px;
    width: 40vw;
}

@media screen and (max-width: 600px) {
    .skillContainer {
        width: 90vw;
    }
}
