<meta charset="UTF-8">
<title>Taptaplit's Portfolio</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS (load bootstrap from a CDN) -->
<link href="/v-1/css/style.css" rel="stylesheet" type="text/css">
<link href="/v-1/css/index.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
